@keyframes sheen {
  0% {
    color: #003466; }
  25% {
    color: #004e99; }
  50% {
    color: #005bb3; }
  75% {
    color: #004e99; }
  100% {
    color: #003466; } }
@keyframes shake {
  0%, 50% {
    transform: rotate(0deg); }
  12.5% {
    transform: rotate(-2.5deg); }
  37.5% {
    transform: rotate(2.5deg); } }
@keyframes vibes {
  0% {
    box-shadow: 0 0 0 0 #003466; }
  5% {
    box-shadow: 0 0 0 6px rgba(0, 52, 102, 0.9); }
  10% {
    box-shadow: 0 0 0 12px rgba(0, 52, 102, 0.8); }
  15% {
    box-shadow: 0 0 0 18px rgba(0, 52, 102, 0.7); }
  20% {
    box-shadow: 0 0 0 24px rgba(0, 52, 102, 0.6); }
  25% {
    box-shadow: 0 0 0 30px rgba(0, 52, 102, 0.5); }
  30% {
    box-shadow: 0 0 0 36px rgba(0, 52, 102, 0.4); }
  35% {
    box-shadow: 0 0 0 42px rgba(0, 52, 102, 0.3); }
  40% {
    box-shadow: 0 0 0 48px rgba(0, 52, 102, 0.2); }
  45% {
    box-shadow: 0 0 0 54px rgba(0, 52, 102, 0.1); }
  50% {
    box-shadow: 0 0 0 60px rgba(0, 52, 102, 0); }
  90% {
    box-shadow: 0 0 0 0px rgba(0, 52, 102, 0); } }
@keyframes wobble {
  0% {
    background: linear-gradient(0deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); }
  5% {
    background: linear-gradient(9deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); }
  10% {
    background: linear-gradient(18deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); }
  15% {
    background: linear-gradient(27deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); }
  20% {
    background: linear-gradient(36deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); }
  25% {
    background: linear-gradient(45deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); }
  30% {
    background: linear-gradient(54deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); }
  35% {
    background: linear-gradient(63deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); }
  40% {
    background: linear-gradient(72deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); }
  45% {
    background: linear-gradient(81deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); }
  50% {
    background: linear-gradient(90deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); }
  55% {
    background: linear-gradient(99deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); }
  60% {
    background: linear-gradient(108deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); }
  65% {
    background: linear-gradient(117deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); }
  70% {
    background: linear-gradient(126deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); }
  75% {
    background: linear-gradient(135deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); }
  80% {
    background: linear-gradient(144deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); }
  85% {
    background: linear-gradient(153deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); }
  90% {
    background: linear-gradient(162deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); }
  95% {
    background: linear-gradient(171deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); }
  100% {
    background: linear-gradient(180deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); } }
html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

.nav-bar {
  z-index: 3;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 2.5% 2% 2.5% 2%;
  opacity: 0; }
  .nav-bar a {
    width: 10%;
    font-size: 20px;
    text-decoration: none;
    color: #001f3d;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 0 1.5%;
    border: 2px solid #001f3d;
    border-radius: 10px;
    user-select: none; }
    .nav-bar a:hover {
      background: #003466;
      border: 2px solid #003466;
      color: white; }

.cover {
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
  background: url("../images/background-1.jpg") no-repeat center;
  background-size: cover;
  opacity: 0;
  user-select: none; }
  .cover .hello {
    font-family: 'Tangerine', cursive;
    font-size: 7em;
    font-weight: bold;
    position: absolute;
    opacity: 0;
    text-align: right;
    color: #003466;
    padding: 0;
    margin: 0;
    top: 35%;
    left: 60%; }
  .cover #name {
    font-family: 'Tangerine', cursive;
    margin: 0;
    font-size: 6.5em;
    font-weight: bold;
    color: #003466;
    position: absolute;
    left: 40%;
    width: 60%; }

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.scroll {
  z-index: 3;
  position: absolute;
  bottom: 6%;
  left: 48%;
  border: 3px solid #003466;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  animation-name: vibes;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-play-state: paused; }

.page {
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
  background: radial-gradient(white, #ffffff);
  position: relative; }

.contact {
  animation-name: wobble;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }
  .contact .contact-title {
    height: 20%;
    margin: 0;
    color: #ffffff; }
    .contact .contact-title h1 {
      margin: 0;
      padding: 2% 0 0 0;
      text-align: center;
      font-family: 'Ubuntu', sans-serif;
      font-size: 2.5em;
      user-select: none; }
  .contact .contact-banner {
    padding: 1% 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    user-select: none; }
  .contact .form-container {
    background: #ffffff;
    padding: 2.5% 0; }
  .contact .form-group {
    display: flex;
    justify-content: center;
    width: 100%; }
  .contact .input-group {
    border: 1px solid #1fc8db;
    border-radius: 0; }
    .contact .input-group .input-group-addon {
      background: #1fc8db;
      color: #ffffff;
      border: 0;
      border-radius: 0; }
    .contact .input-group textarea {
      resize: none; }
  .contact .btn {
    width: 100%;
    background: #1fc8db;
    color: #ffffff;
    font-size: 1.5em; }
  .contact .form-control {
    border: 0;
    border-radius: 0; }

.footer-container {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  height: 20%;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff; }
  .footer-container .footer-content {
    width: 50%;
    padding: 0 5%; }
  .footer-container .social-links {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .footer-container .social-links span {
      padding: 0 5%;
      color: #000;
      font-size: 2em; }
    .footer-container .social-links a {
      padding: 5%;
      text-decoration: none;
      margin: 0; }
      .footer-container .social-links a:hover svg path {
        fill: #ffffff !important; }
  .footer-container .social-icon svg {
    height: 40px; }
    .footer-container .social-icon svg path {
      fill: #000 !important; }
  .footer-container .copyright-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center; }
  .footer-container .copyright-notice {
    font-size: 1.3em;
    padding: 0 1%; }

/*# sourceMappingURL=styles.css.map */
