<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{ title }}</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Dashboard</a></li>
      <li><a href="#">Heroes</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div class="container main-content">
  <h1>Top Heroes</h1>
  <div class="row">
    <div class="col-md-3">
      <img src="http://images.all-free-download.com/images/graphiclarge/the_beautiful_christmas_polar_coordinates_definition_picture_170939.jpg" class="img-thumbnail hero-img">
    </div>
    <div class="col-md-3">
      <img src="http://images.all-free-download.com/images/graphiclarge/beautiful_natural_scenery_05_hd_pictures_166228.jpg" class="img-thumbnail hero-img">
    </div>
    <div class="col-md-3">
      <img src="http://images.all-free-download.com/images/graphiclarge/beautiful_scenery_01_hd_pictures_166314.jpg" class="img-thumbnail hero-img">
    </div>
    <div class="col-md-3">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/51/07/da/5107dacf84a9965607faec06d5ffeb02.jpg" class="img-thumbnail hero-img">
    </div>
  </div>
</div>

